*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Shared Style */

.logo-text{
color: rgb(251, 9, 178);
}
i{
    padding-left: 10px;
    color: #FFFFFF;
}
.btn-primary{
padding: 12.5px 30px 12.5px 16px ;
background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
border: none;
border-radius: 10000px;
color: #FFFFFF;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
}


/* Main Style */
nav{
    display: flex;
    height: 92px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
    
    
}


nav h1{
   color: #FFFFFF;
   font-weight: bold;

}

nav>ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
   font-size: 1rem;
   font-weight: 500;
   opacity: 0.9;
}

.humbarger-menu{
    display: none ;
}

/* Banner design */
.banner-bg{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 760px;
    text-align: center;
    padding-bottom: 100px;
}
.banner{
    max-width: 550px;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    position: relative;
   
}

.new{
position: absolute;
font-size: 1.25rem;
border: none;
background-color: #00FF88;
left: 63%;
border-radius: 10000px;
 padding: 10px 20px;
cursor: pointer;

}

.banner-img{
    position: relative;
   max-width: 350px;
   margin: 0 auto;
    padding-top: 30px;
}


   .microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}

.container{
    padding-top: 50px;

}

.container h1{
    color: rgba(255, 255, 255, 1);
   font-size: 3.75rem;
   padding-bottom: 10px;
   font-weight: 800;
}

.container p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
    cursor: pointer;
}
.container .btn-spotify, .btn-msg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.container .btn-spotify{
    padding: 12.5px 20px 12.5px 20px;


}
.container .btn-msg{
  padding: 12.5px 17px 12.5px 17px;
  border: 2px solid  rgba(0, 255, 136, 1);
  border-radius: 10000px;
  background: transparent;
  color: #00FF88;
}

.btn-spotify img{
    padding-right: 10px;
}
 .btn-msg img{
    padding-right: 10px;
}

/* About Section */
.about-section{
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  
}
.about{
 max-width: 1200px;
 /* height: 222px; */
}
.about  h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 40px;
}
.about  p{
    color: #FFFFFF;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}
.about-container{
    max-width: 1200px;
    display: flex;
    border-top: 1px  solid  rgba(255, 255, 255, 0.205) ;
    padding-top: 50px;
   margin-bottom: 100px;
     justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    
}
.about-container h2{
    color: #00FF88;
    font-size: 3rem;
  font-weight: 900;
  line-height: 58px;
}
.about-container p{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 50px;
}


/* Why chose us */
.benefit{
  background: rgba(35, 14, 61, 1);
  padding-bottom: 120px;
  
}
.benefit h2{
    color: #FFFFFF;
    text-align: center;
   font-size: 3rem;
   font-weight: 700;
    padding: 90px 0px 60px 0px;
}
.benefit-grid{
    /* border: 2px solid red; */
    max-width: 1200px;
    height: 783px;
    display: grid;
    gap:30px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.benefit-grid h3{
    color: #FFFFFF;
    padding: 10px 0px 10px  0px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
}

.benefit-grid p{
 color: #FFFFFF;
   font-size: 1rem;
  font-weight: 400;
 line-height: 30px;
}

 #audio-quality{
    /* border: 1px solid blue; */
   grid-row: span 2;
   background: rgba(53, 17, 101, 0.4);
   border-radius: 40px;
   padding: 150px 20px 0px 50px;
   max-width: 380px;
   height: 480px;

}

 #mobile-friendly {
    /* border: 1px solid greenyellow; */
    grid-column: span 2;
    background: rgba(53, 17, 101, 0.4);
    padding: 50px 20px 0px 50px;
    border-radius: 40px;
     max-width: 790px;
     height: 225px;

}
 #global-community{
    /* border: 1px rgb(46, 97, 139); */
     grid-column: span 2;
     background: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
      padding: 50px 20px 0px 50px;
     max-width: 790px;
     height: 225px;
}

 #exclusive-interview{
    /* border: 1px solid salmon; */
     grid-column: span 2;
     background: rgba(53, 17, 101, 0.4);
     border-radius: 40px;
      padding: 70px 20px 0px 50px;
      max-width: 790px;
     height: 273px;
     
}

 #rich-Resource{
    /* border: 1px solid gold; */
    grid-column: span 1;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
     padding: 70px 20px 0px 50px;
     max-width: 380px;
     height: 273px
}


/*  Featured Episodes */
.featured-ep{
    background-color:rgba(26, 11, 46, 1);;
}
.featured-ep>h2{
   padding-top: 100px;
   padding-bottom: 100px;
    color: #FFFFFF;
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700; 
    text-align: center;
   
}

.featured-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 440px;
    gap: 30px;
   
    
}
  
.podcast{
   
    background: rgba(37, 13, 68, 1);
     border-radius: 24px;
     overflow: hidden;
}
.podcast h3{
 color: #FFFFFF;
 font-style: Bold;
 font-size: 1.5rem;
 font-weight: 700;
  margin-bottom: 20px;
}

 .podcast p{
    color: #FFFFFF;
    font-size: 1rem;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 10px;
 }

 .podcast-text{
    padding: 24px;
 }
 .duration-container{
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: 30px;
 }
 .duration-container span{
    color: #00FF88;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 2px;
    

 }
  

/* Host Section */

.host{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.host>h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
}
.host-container{
    /* border: 1px solid #00FF88; */
    height: 280px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    
}
.host-container h3{
    color: #FFFFFF;
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: 700;
}
.host-container p{
 color: #FFFFFF;
 font-size: 1rem;
 font-weight: 400;
 line-height: 24px;
}

.host-socail{
    display: flex;
    align-items: center;
    margin-top: 20px;
   
    gap: 20px;
    
}
.host-socail a{
    text-decoration: none;
}
.scoail-items{
    border: 1px solid rgba(83, 60, 114, 1);
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}























/* Responsive Mobile */

@media screen and (max-width:576px){

    nav{
        justify-content: space-between;
        justify-items: center;
        padding-right: 25px;
        padding-left: 15px;
    } 
       

    nav>ul{
        display: none;
    }
    .btn-primary{
        display: none;
    }
  .humbarger-menu{
    display: block;
  
}

.about-section{
    justify-items: center;
  
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    gap: 15px;
}
.about h2{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
}
.break{
    display: none;
}
.benefit h2{
    font-size: 2rem;
}
/* grid layout */
.benefit-grid p{
    font-size: 0.9rem;
}
.benefit-grid{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    height: auto;
    margin: 0 30px 0 30px;
   
}
 #audio-quality{
   padding-top: 40px;
   
 }
    #audio-quality,
    #mobile-friendly, 
    #global-community, 
    #exclusive-interview, 
    #rich-Resource{
        grid-column: span 1;
        max-width: 100%; 
        height: auto;
         padding-bottom: 50px ;
        

    }

    /* featured-container */
    

    .featured-container{
         flex-direction: column;
         height: auto;
        
         gap:17px;
         
    }

    .featured-ep h2{
   padding-top: 70px;
   padding-bottom: 30px;
    font-size: 2rem;
   
}

    /* Host */
    .host{
       margin: 0px 40px;
    }
    .host>h2{
      margin: 10px 10px;
    }
    .host-container{
        padding: 30px 40px ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .host-container h3{
        padding-top: 20px ;
    }

    .host-container>img{
        width: 150px;
        height: 150px;
        

    }
    .host-socail{
       justify-content: center;
    }

}