*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Shared Style */

.logo-text{
color: rgb(251, 9, 178);
}
i{
    padding-left: 10px;
    color: #FFFFFF;
}
.btn-primary{
padding: 12.5px 30px 12.5px 16px ;
background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
border: none;
border-radius: 10000px;
color: #FFFFFF;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
}


/* Main Style */
nav{
    display: flex;
    height: 92px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
    
    
}


nav h1{
   color: #FFFFFF;
   font-weight: bold;

}

nav>ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
   font-size: 1rem;
   font-weight: 500;
   opacity: 0.9;
}

.humbarger-menu{
    display: none ;
}

/* Banner design */
.banner-bg{
    background-image: url("../assets/hero-bg.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 760px;
    text-align: center;
    padding-bottom: 100px;
}
.banner{
    max-width: 550px;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 0 auto;
    position: relative;
   
}

.new{
position: absolute;
font-size: 1.25rem;
border: none;
background-color: #00FF88;
left: 63%;
border-radius: 10000px;
 padding: 10px 20px;
cursor: pointer;

}

.banner-img{
    position: relative;
   max-width: 350px;
   margin: 0 auto;
    padding-top: 30px;
}


   .microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}

.container{
    padding-top: 50px;

}

.container h1{
    color: rgba(255, 255, 255, 1);
   font-size: 3.75rem;
   padding-bottom: 10px;
   font-weight: 800;
}

.container p{
    color: rgba(255, 255, 255, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
    cursor: pointer;
}
.container .btn-spotify, .btn-msg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.container .btn-spotify{
    padding: 12.5px 20px 12.5px 20px;


}
.container .btn-msg{
  padding: 12.5px 17px 12.5px 17px;
  border: 2px solid  rgba(0, 255, 136, 1);
  border-radius: 10000px;
  background: transparent;
  color: #00FF88;
}

.btn-spotify img{
    padding-right: 10px;
}
 .btn-msg img{
    padding-right: 10px;
}

/* About Section */
.about-section{
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  
}
.about{
 max-width: 1200px;
 /* height: 222px; */
}
.about  h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 40px;
}
.about  p{
    color: #FFFFFF;
    line-height: 20px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}
.about-container{
    max-width: 1200px;
    display: flex;
     justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    
}
.about-container h2{
    color: #00FF88;
    font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}
.about-container p{
    color: #FFFFFF;
    font-style: Regular;
    font-size: 1rem;
    font-weight: 400;
    line-height: 50px;
}













/* Responsive Mobile */

@media screen and (max-width:576px){

    nav{
        justify-content: space-between;
        justify-items: center;
        padding-right: 25px;
        padding-left: 15px;
    } 
       

    nav>ul{
        display: none;
    }
    .btn-primary{
        display: none;
    }
  .humbarger-menu{
    display: block;
  
}

.about-section{
    justify-items: center;
}
.about-container{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
}


}