*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* Shared Style */

.logo-text{
color: rgb(251, 9, 178);
}
i{
    padding-left: 10px;
    color: #FFFFFF;
}
.btn-primary{
padding: 12.5px 30px 12.5px 16px ;
background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
border: none;
border-radius: 10000px;
color: #FFFFFF;
font-size: 16px;
font-weight: 600;
}


/* Main Style */
nav{
    display: flex;
    height: 92px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    background-color: #1A0B2E;
    
    
}


nav h1{
   color: #FFFFFF;
   font-weight: bold;

}

nav>ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
   font-size: 16px;
   font-weight: 500;
   opacity: 0.9;
}

.humbarger-menu{
    display: none ;
}

/* Banner design */
.banner{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 101px 525px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 5000px;
   margin: 0 auto;
   min-height: 760px;
   text-align: center;
}

.hero-circle{
    position: relative;
    display:flex;
    padding-bottom: 120px ;
}

.microphone{
    position: absolute;
    left: 47%;
    top:30%;
    
}













/* Responsive Mobile */

@media screen and (max-width:576px){
    nav{
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 15px;
    }

    nav>ul{
        display: none;
    }
    .btn-primary{
        display: none;
    }
.humbarger-menu{
    display: block;
  
}